@import "tailwindcss";

@theme {
    --color-primary: oklch(60% 0.118 184.704);
    --color-secondary: oklch(55.4% 0.046 257.417);
    --color-dark: oklch(38.6% 0.063 188.418);
}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}

/* efek ketika scroll */
.navbar-fixed {
    @apply fixed z-[9999] bg-white/40 backdrop-blur-lg shadow-md;
}

/* garis hamburger */
.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

/* animasi jadi X */
.hamburger-active>span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active>span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active>span:nth-child(3) {
    @apply -rotate-45;
}